body {
    font-family: 'Roboto Mono',monospace;
    min-height: 400px;
    background-image: url('');
    background-color: #000000;
    background-size: 80vh;
    background-position: center bottom;
    background-repeat: no-repeat;
}
  
.container {
    text-align: center;
    padding: 20px;
    height: 100vh;
}
  
.page-title {
    color:#ffffff;
    margin: 0 0 5px;
}
  
.page-subtitle {
    color:#ffffff;
    margin-top: 5px;
}
.resultado {
    color:#ffffff;
    font-size: 600%;
    margin-top: 5px;
}
  
.page-logo {
    width: 200px;
}